::-webkit-scrollbar {
  width: 0px !important;
}
html {
  height: 100%;
}
body {
  max-width: 670px;
  margin: 0 auto;
  background: #0097A7;
  color: white;
  font-size: 16px;
  overflow-y: scroll;
  height: 100%;
}
.download {
  font-weight: bold;
  margin-left: 12px;
}
.download::before {
  background: url('assets/ic_file_download_white_48px.svg');
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background-size: 19px;
  vertical-align: text-bottom;
}
.download::after {
  content: 'MB';
  padding: 0 4px;
  border-radius: 4px;
  background-color: white;
  color: #0097A7;
  margin-left: 4px;
}
#downloadedUpdates::before,
#availableUpdates::before {
  display: block;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  font-weight: bold;
}
#downloadedUpdates::before {
  content: "My Cached Updates";
}
#availableUpdates::before {
  content: "P2P Network Updates";
}

#downloadedUpdates .download::before {
  visibility: hidden;
}
.update > div {
  display: inline-block;
}
.update {
  padding: 8px;
  margin-bottom: 1px;
}
.update:last-child {
  margin-bottom: 24px;
}
#availableUpdates .download {
  cursor: pointer;
}
#availableUpdates .update {
  background-color: #00BCD4;
}
.ipAddress {
  margin-right: 12px;
}
.numConnections {
  color: #0097A7;
  float: right;
  width: 19px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  font-weight: bold;
}
