::-webkit-scrollbar {
  width: 0px !important;
}
html {
  height: 100%;
}
body {
  margin: 0 auto;
  color: white;
  background: -webkit-radial-gradient(bottom center, ellipse cover, #455A64 -50%,#37474F 50%);
  background-color: #37474F;
  font-size: 15px;
  overflow-y: scroll;
  height: 100%;
  transition: opacity 1s ease-out;
  opacity: 0;
}
.download {
  font-weight: bold;
  margin-left: 12px;
}
.download::before {
  background: url('assets/download.svg');
  content: '';
  display: inline-block;
  width: 19px;
  height: 19px;
  background-size: 19px;
  vertical-align: text-bottom;
}
.download::after {
  content: 'MB';
  padding: 0 4px;
  border-radius: 4px;
  background-color: white;
  color: #37474F;
  margin-left: 4px;
  box-shadow: 0 1px 0 #333;
}
#downloadedUpdates::before,
#availableUpdates::before {
  display: block;
  padding: 16px;
  font-weight: bold;
}
#downloadedUpdates::before {
  content: "My Cached Updates";
}
#availableUpdates::before {
  content: "Local Network Cached Updates";
}
#downloadedUpdates .download::before {
  visibility: hidden;
  display: none;
}
.update > div {
  display: inline-block;
}
.update {
  padding: 16px 32px;
  margin-bottom: 1px;
  background-color: #455A64;
}
.update:last-child {
  margin-bottom: 24px;
}
#availableUpdates .download {
  cursor: pointer;
}
.ipAddress {
  margin-right: 12px;
}
.numConnections {
  background-color: #37474F;
  float: right;
  width: 18px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  padding: 1px;
}
.error {
  padding: 16px 32px;
  font-weight: bold;
  margin-bottom: 24px;
  background-color: #455A64;
  color: #37474F;
}
